@charset 'utf-8';

/* Inter 폰트 - 400/700/900 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
/* font-family: 'Inter', sans-serif; */

/* Karantina 폰트 - 400 */
@import url('https://fonts.googleapis.com/css2?family=Karantina&display=swap');
/* font-family: 'Karantina', cursive; */

:root {
  --main-color-01: #2196F3;
  --font-color-black: #333333;
  --font-color-white: #ffffff;
}

* {box-sizing: border-box;}
body {margin: 0;}
p {margin: 0;}

/* class */
.display-flex {display: flex;}

.direction-row {flex-direction: row;}
.direction-row-reverse {flex-direction: row-reverse;}
.direction-column {flex-direction: column;}
.direction-column-reverse {flex-direction: column-reverse;}

.justify-content-start {justify-content: flex-start;}
.justify-content-center {justify-content: center;}
.justify-content-end {justify-content: flex-end;}
.justify-content-around {justify-content: space-around;}
.justify-content-between {justify-content: space-between;}
.justify-content-evenly {justify-content: space-evenly;}

.align-items-start{align-items: flex-start;}
.align-items-center{align-items: center;}
.align-items-end{align-items: flex-end;}

/* position 속성 */
.position-relative {position: relative;}
.position-absolute {position: absolute;}
.position-fixed {position: fixed;}
.position-sticky {position: sticky;}

/* font color */
.font-color-main {color: var(--main-color-01);}
.font-color-black {color: var(--font-color-black);}
.font-color-white {color: var(--font-color-white);}


/* header */
body > header {
  background-color: var(--main-color-01);
  width: 100vw;
  height: 110px;
}

body > header > div {
  height: 100%;
  position: relative;
  padding-bottom: 27px;
  color: var(--font-color-white);
  font-family: 'Inter';
  font-weight: 900;
  font-size: 12px;
}

body > header > div > p:nth-child(2) {
  right: 18px;
}

body > header > ul {
  display: none;
}

/* section-1 */
body > section:first-of-type {
  width: 100vw;
  height: calc(100vh - 110px);
  border: 1px solid red;
}

body > section:first-of-type > div {
  width: 100%;
  height: 100%;
  padding-top: 219px;
  padding-bottom: 85px;
}

body > section:first-of-type > div > div:first-child {
  width: 100%;
  padding-left: 23px;
}

body > section:first-of-type > div > div:first-child > p {
  line-height: 0.5;
  font-size: 96px;
  font-weight: 700;
  font-family: 'Inter';
}

body > section:first-of-type > div > div:nth-child(3) > p {
  color: var(--main-color-01);
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}

/* section-2 */
body > section:nth-of-type(2) {
  border: 1px solid black;
  background-color: var(--main-color-01);

}

body > section:nth-of-type(2) > div {
  width: 100%;
  height: calc(100vh - 200px);
}

body > section:nth-of-type(2) > div > div:nth-child(1) > p {
  font-size: 128px;
  font-weight: 400;
  font-family: 'Karantina';
  padding-left: 19px;
}

body > section:nth-of-type(2) > div > div:nth-child(1) > p:last-child{
  text-decoration: underline;
}

body > section:nth-of-type(2) > div > div:nth-child(2) > i {
  font-size: 61px;
  padding-left: 22px;
}