@charset 'utf-8';
/* desktop 미디어 쿼리 */
@media screen and (min-width: 1200px) {
  
  /* header */
  body > header > div {
    padding-left: 38px;
    padding-bottom: 35px;
    justify-content: flex-start;
  }

  body > header > ul {
    padding: 40px 0px 40px 38px;
  }

  /* section */
  body > main {
    display: flex;
  }

  body > main > section:nth-of-type(1) {
    flex: 1;
  }

  body > main > section:nth-of-type(2) {
    flex: 2;
  }

  body > main > section:first-of-type > div {
    padding-top: 24px;
    padding-bottom: 265px;
  }

  body > main > section:first-of-type > div > div:first-child {
    padding-left: 38px;
  }

  body > main > section:nth-of-type(2) > div {
    height: 857px;
    padding-bottom: 82px;
    padding-left: 0;
    padding-right: 69px;
    justify-content: flex-end;
  }

  body > main > section:nth-of-type(2) > div > div > div:nth-child(1) > p {
    text-align: right;
  }

  /* 마지막 문장 밑줄 가상태그 위치 조절 */
  body > main > section:nth-of-type(2) > div > div > div:nth-child(1) > p:last-child::after {
    right: 0;
    left: auto;
  }

  /* section-2 화살표 안보이게 처리 */
  body > main > section:nth-of-type(2) > div > div > div:nth-child(2) {
    display: none;
  }

}