@charset 'utf-8';

@media screen and (min-width: 601px) {

/* header */
  body > header > div {
    height: 100px;
  }

  body > header > div > p:nth-child(2) {
    display: none;
  }

  body > header > ul {
    display: block;
    padding: 40px 0px 40px 60px;
  }

  /* section-1 */
  body > section:first-of-type {
    height: calc(100vh - 273px);
  }

  body > section:first-of-type > div {
    padding-top: 86px;
    padding-bottom: 210px;
  }

  body > section:first-of-type > div > div:first-child {
    padding-left: 60px;
  }

  body > section:first-of-type > div > div:first-child > p {
    line-height: 96px;
  }

}